/* #03A678 */
button[type="submit"]
{
  background-color: #04c153;
  border-color: #04c153;
}

button[type="button"]:hover
{
  background-color: #04c153;
  color: white;
}

button[type="button"]{
  border-color: #04c153;
  color: #04c153;
}

#app-logo{
  width: 22vw;
  height: 40vh;
  margin-right: 4vw;
  border-right: #936341 3px solid;
  padding-right: 3vw;
}

.container{
  margin-top: 24vh;
  display: flex;
  align-items: center;
}


