<div class="row">
  <div class="col-lg-6 mx-auto mt-5 mb-5">

      <!-- CUSTOM BLOCKQUOTE -->
      <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
          <div class="blockquote-custom-icon shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
          <p class="mb-0 mt-2 font-italic">"Food production is responsible for one-quarter of the world’s greenhouse gas emissions <a href="https://ourworldindata.org/food-ghg-emissions" class="text-info" target="_blank">@OurWorldInData</a>."</p>
          <footer class="blockquote-footer pt-4 mt-4 border-top"> from a meta-analysis by
              <cite title="Source Title">Poore, J., & Nemecek, T. (2018). Reducing food’s environmental impacts through producers and consumers. Science, 360(6392), 987-992.</cite>
          </footer>
          <hr>
          <p class="mb-0 mt-2 font-italic">"By reducing your consumption of animal protein by half, you can cut your diet's carbon footprint by more than 40% <a href="https://www.bbc.com/future/article/20181102-what-can-i-do-about-climate-change" class="text-info" target="_blank">@BBC</a>."</p>
          <footer class="blockquote-footer pt-4 mt-4 border-top"> from
              <cite title="Source Title">World Resources Institute</cite>
          </footer>
      </blockquote><!-- END -->

  </div>
</div>
